<%- include('layout/header'); -%>
<div class="row product">
    <% product.forEach(pro => { %>
    <div class="col-12 col-md-4 p">
        <a href="/products/detail/<%= pro.link %>" class="pahref">
            <img src="/product_images/<%= pro._id %>/<%= pro.image %> " class="pimage" alt="">
        </a>
        <h3><%= pro.title %></h3>
        <h4><%= pro.price %> </h4>
        <a href="/products/detail/<%= pro.link %> " class="pdetail"> View Detail</a>
    </div>
    <% }) %>
</div>
<%- include ('layout/footer'); -%>