<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Starter Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6,
        h2,
        h3,
        h5,
        h6 {
            margin-bottom: .5rem;
            font-family: inherit;
            font-weight: 500;
            line-height: 1.2;
            margin-top: 60px;
            color: inherit;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">ADI SHOP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <% pages.forEach(page => { %>
                <% if (page.link == "home") { %>
                <li class="nav-item"><a class="nav-link" href="/"><%= page.title %> </a class="nav-link"></li
                    class="nav-item">
                <% } else {%>
                <li class="nav-item"><a class="nav-link" href="<%= page.link %>"><%= page.title %> </a></li>
                <%}%>
                <% }) %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/cart/checkout" class="nav-link">My Cart (
                        <%= qtyheader%>
                        )</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="container">
        <%- messages('message', locals) %>

        <div class="row">
            <div class="col-12 col-md-3">
                <h3>Categories</h3>
                <ul class="list-group">
                    <li class="list-group-item"><a href="/products">All Products</a></li>
                    <% categories.forEach(cat => { %>
                    <li class="list-group-item"><a href="/products/category/<%= cat.link %>"><%= cat.title%></a></li>
                    <% }) %>
                </ul>
            </div>
            <div class="col-12 col-md-1"></div>
            <div class="col-12 col-md-8" style="margin-top: 75px;">